gradio==5.46.1
openai==1.108.1
transformers
kokoro==0.9.4
soundfile==0.13.1
requests==2.32.5
numpy==2.2.6
pandas==2.3.2
librosa==0.11.0
misaki
misaki[zh]
misaki[ja]
openai-whisper==20250625
webrtcvad==2.0.10
pyaudio==0.2.14
sounddevice==0.5.2
sentencepiece==0.2.0
openvino_genai==2025.3.0.0
#sudo apt update && sudo apt install ffmpeg
#sudo apt-get install portaudio19-dev
